# SMTP Configuration for backend email service
FROM_EMAIL=chopadepranav01@gmail.com
TO_EMAIL=chopadepranav01@gmail.com
PORT=3001
S_SERVICE_ID=service_pxadsse
VITE_EMAILJS_TEMPLATE_ID=template_4xgjbr7
VITE_EMAILJS_USER_ID=dxPdPlWasdd1z8DeW